{% extends "base.html" %}
{% block title %}
    {{ data.title }}
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex mb-2">
                        <button type="button" class="btn btn-primary btn-sm ms-auto" onclick="window.location.href='{{ url_for('.add') }}'">
                            <span class="tf-icons bx bx-plus me-1"></span>Add
                        </button>
                    </div>
                    
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">

                            <thead>
                                <tr>
                                    <th class="text-start">Username</th>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">User Type</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                
                                {% if data.results: %}
                                    {% for user in data.results: %}
                                        <tr>
                                            <td class="text-start">{{ user.username }}</td>
                                            <td class="text-center">{{ user.userID }}</td>
                                            <td class="text-center">{{ user.utName }}</td>
                                            <td class="text-center">
                                                <a class="btn btn-info btn-sm text-white" href="{{ url_for('.view', id=user.userID) }}">
                                                    <span class="tf-icons bx bx-show-alt me-1"></span>View
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else: %}
                                    <tr>
                                        <td class="text-center text-danger" colspan="4">No Record Found</td>
                                    </tr>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}