{% extends "base.html" %}
{% block title %}
    {{ data.title }}
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <form class="card-body" method="POST" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div class="col-12 d-flex">
                            <input type="file" class="form-control" name="fileExt" style="width: auto;" />
                            <button type="submit" class="btn btn-primary btn-sm ms-2">
                                <span class="tf-icons bx bx-plus me-1"></span>Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}